<!DOCTYPE html>
<html>
<head>
  <title>aidtool</title>
  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- custom header -->
	<link rel="stylesheet" href="/stylesheets/header.css">
	<!-- <link rel='stylesheet' href='/stylesheets/index.css' /> -->
	<link rel="stylesheet" href="/stylesheets/dropdownlist.css">
</head>

<div> 
	<p id="user_info">user infomation
		
		 <% if(typeof userId!='undefined' && typeof PublicKey!='undefined') { %> 
		 		<p>userid:</p>
				<p id='userid'><%= userId %></p>
				<br>
				<p hidden>PublicKey:</p>
				<p id='publickey' hidden><%= PublicKey%></p>
				<p id='id_type' hidden><%=id_type%></p>
				<p id='google_email' hidden><%=googleEmail%></p>
				<p id='hash' hidden><%=hash%></p>
				
			
		<br>
		
		 <%}%>
		 <% if(typeof userId=='undefined' && typeof PublicKey=='undefined') { %> 
		 <form action='/createUser' method='post'>
				<label for="createUserInfo" class="sr-only">create user</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="密碼" name="password">
				<input type="submit" value="Submit">
			</form>
		 <%}%>
		 
		 
	</p> 
</div>

</head>
<body>
<form >

</form>
<input type="text" id="aidLoginToServer" class="form-control" placeholder="輸入網址" name="loginUrl">
<p>Click the button to open a new browser window.</p>

<button onclick="myFunction()">open the browser you login</button>
<br>
<div>
	<form action='/createsignature' method='GET'>
		<input type='text' placeholder='enter shamsg' name='shaMsg'>
		<input type="submit" value="createSignature">
	</form>
</div>
<script type="text/javascript">
function myFunction() {
	//var PublicKey=this.PublicKey;
	//var uuid=this.userId;
	var hash=document.getElementById("hash").innerHTML;
	var uuid=document.getElementById("userid").innerHTML;
	var publicKey=document.getElementById('publickey').innerHTML;
	var idType=document.getElementById('id_type').innerHTML;
	var googleEmail=document.getElementById('google_email').innerHTML;
	
	var url=document.getElementById('aidLoginToServer').value+'/aidlogin?'+'uuid='+uuid+'&publickey='+publicKey+'&id_type='+idType;
	if(idType=='2'){
		url+=('&googleemail='+googleEmail);
	}
    window.open(url);
}
</script>
<form action='/mypage' method='GET'>
	<input type='submit' value='go to user page'>
</form>
<form action='/writehash' method='POST'>
<input type='submit' value='write hash'>
</form>
</body>
		<script src='https://www.google.com/recaptcha/api.js'  type="text/javascript">

		</script>

</html>
