<!DOCTYPE html>
<html>
<head>
  <title>aidtool</title>
  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- custom header -->
	<link rel="stylesheet" href="/stylesheets/header.css">
	<!-- <link rel='stylesheet' href='/stylesheets/index.css' /> -->
	<link rel="stylesheet" href="/stylesheets/dropdownlist.css">
</head>

<div> 
	<p id="user_info">user's page 
		 <% if(typeof id_type!='undefined') { %> 
		 		<p>userLoginType:</p>
				
				<%if(id_type=="0"){%>
					<p class='userLoginType'><%= id_type %> (aid)</p>
				<%}%>
				<%if(id_type=="2"){%>
				<p class='userLoginType'><%= id_type %> (google_id)</p>
				<%}%>
			
		
		
		 <%}%>

		 <p>google account: <%=googleEmail%></p>
		 
		 
	</p> 
</div>

</head>
<body>
<form action='/mypage/updategoogleemail' method='POST'>
	<input type="text" name="googleEmail" placeHolder="your google email">
	<input type='submit' value='updateGoogleEmail'>
</form>
<form action='/mypage/updatelogintype' method='POST'>
	<input type="radio" name="logintype" value="0" >Aid <br>
	<input type="radio" name="logintype" value="2" >Google <br>
	<input type='submit' value='updatelogintype'>
</form>
<script type="text/javascript">

</script>
</body>
		

</html>