@import 'https://fonts.googleapis.com/css?family=Roboto:100,300';
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,700';
body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20em;
    background: #f7cac9;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 fallback on horizontal gradient */
    font-family: 'Roboto Mono';
    letter-spacing: 1px;
}
h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 0px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02), 5px 5px rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02), 7px 7px rgba(0, 0, 0, 0.02);
}
h1 i {
    position: relative;
    font-size: 70px;
}
/*
p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 2em;
    line-height: 30px;
}
*/
p img {
    position: relative;
    top: 8px;
    right: 10px;
}
.select {
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    width: 330px;
    height: 100%;
    border-bottom: 0px;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, .5);
}
.select > i.toggle {
    position: absolute;
    z-index: 4;
    right: 1.5em;
    top: 1.6em;
    color: #ccc;
}
.select .title, .select .placeholder {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.5em 2em;
    background: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(0, 0, 0, .05);
    cursor: pointer;
    font-weight: bold;
}
.select > input {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    cursor: pointer;
}
.select > input:checked ~ i.toggle.icon-arrow-down {
    display: none;
}
.select > input:checked ~ i.toggle.icon-arrow-up {
    display: block;
}
.select > input:checked div.options label.option .title {
    display: none !important;
}
.select > input:not(:checked) {
    z-index: 4;
}
.select > input:not(:checked) ~ label.option > span.title {
    display: none;
}
.select > input:not(:checked) ~ i.toggle.icon-arrow-up {
    display: none;
}
.select > input:not(:checked) ~ i.toggle.icon-arrow-down {
    display: block;
}
.select > input:disabled {
    cursor: no-drop;
}
.select > span.placeholder {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    color: #999;
    border-top: 0px;
}
.select label.option {
    display: block;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    transition: all 1s ease-out;
}
.select label.option span.title {
    position: relative;
    z-index: 2;
    transition: background 0.3s ease-out;
}
.select label.option span.title i.icon {
    padding-right: 8px;
    color: rgba(146, 168, 209, 1);
    font-size: 30px;
}
.select label.option span.title:hover {
    color: #fff;
    background: rgba(255, 255, 255, .3);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
}
.select label.option input {
    display: none;
}
.select label.option input:checked ~ span.title {
    position: relative;
    display: block;
    z-index: 3;
    top: 0px;
    font-size: 16px;
    background: #fff;
    border-top: 0px;
    box-shadow: none;
    color: inherit;
    width: 100%;
}
.select label.option input:disabled ~ span.title {
    background: #f9f9f9 !important;
    color: #aaa;
}
.select label.option input:disabled ~ span.title:hover {
    color: #aaa;
    background: none;
    cursor: no-drop;
}
.select2 {
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    width: 330px;
    height: 100%;
    border-bottom: 0px;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, .5);
}
.select2 i.toggle {
    position: absolute;
    z-index: 4;
    right: 1.5em;
    top: 1.6em;
    color: #ccc;
}
.select2 .title, .select2 .placeholder {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.5em 2em;
    background: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(0, 0, 0, .05);
    cursor: pointer;
}
.select2 > label > input {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    cursor: pointer;
}
.select2 > label > input:checked {
    z-index: 2;
}
.select2 > label > input:checked ~ i.toggle.icon-plus {
    display: none;
}
.select2 > label > input:checked ~ i.toggle.icon-minus {
    display: block;
}
.select2 > label > input:not(:checked) ~ i.toggle.icon-minus {
    display: none;
}
.select2 > label > input:not(:checked) ~ i.toggle.icon-plus {
    display: block;
}
.select2 > label > input:not(:checked) ~ label.option input:not(:checked) ~ .title {
    display: none !important;
}
.select2 > label > input:disabled {
    cursor: no-drop;
}
.select2 label > span.placeholder {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    color: #999;
    border-top: 0px;
}
.select2 label.option {
    display: block;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    transition: all 1s ease-out;
}
.select2 label.option span.title {
    position: relative;
    z-index: 2;
    transition: background 0.3s ease-out;
}
.select2 label.option span.title i.icon {
    padding-right: 8px;
    color: rgba(146, 168, 209, 1);
}
.select2 label.option span.title:hover {
    color: #fff;
    background: rgba(146, 168, 209, .5);
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
}
.select2 label.option input {
    display: none;
}
.select2 label.option input:checked ~ span.title {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0px;
    font-size: 12px;
    background: #fff;
    border-top: 0px;
    box-shadow: none;
    color: inherit;
    width: 100%;
}
.select2 label.option input:disabled ~ span.title {
    background: #f9f9f9 !important;
    color: #aaa;
}
.select2 label.option input:disabled ~ span.title:hover {
    color: #aaa;
    background: none;
    cursor: no-drop;
}

.text{
    font-size: 20px;
    margin-right: 20px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="name"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="key"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-update {
    display: inline;
    vertical-align: middle;
}
