table.wwFormTable {
    border: 1px solid black;
}

table.wwFormTable td {
    border: 1px solid black;
    padding: 3px;
    padding-left: 6px;
    font-size: 24px;
}
.star{
    color:red;
}
.style1{
    color:orangered;
    font-weight: bold;
    font-size: 24px;
}
.style2{
    font-size: 24px;
    font-weight: bold;
}