<!DOCTYPE html>
<html>
<head>
  <title>testserver</title>
  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- custom header -->
	<link rel="stylesheet" href="/stylesheets/header.css">
	<!-- <link rel='stylesheet' href='/stylesheets/index.css' /> -->
	<link rel="stylesheet" href="/stylesheets/dropdownlist.css">
</head>
<div> 
	<% if(typeof uuid!='undefined'){ %>
		<p>welcome:</p>
		 <table>
			<tr>
				<td><%= uuid %></td>

			</tr>
		</table>
	<%}%>
	
</div>

</head>
<body>
<form >

</form>
</body>
		<script src='https://www.google.com/recaptcha/api.js'>

		</script>

</html>