@import 'https://fonts.googleapis.com/css?family=Roboto:100,300';
@import 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,700';
body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    /* padding-bottom: 40px; */
    background: #f7cac9;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* IE6-9 fallback on horizontal gradient */
    font-family: 'Roboto Mono';
    letter-spacing: 1px;
}

h2 {
    color: #FFFFFF;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    border-bottom-style: double;
    border-color: black;
}
h5 {
    display: inline;
    color: #000000;
    font-family: 'Trocchi', serif;
    font-size: 25px;
    font-weight: bold;
}

.text{
    font-size: 20px;
    margin-right: 20px;
}

.center {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#btn1{
    background:#818182;
    height:350px;
    width:700px;
    position:relative;
    margin-left:20px;
    left:900px;

    color:#FFF;
    font-size:25px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*line-height:300px;*/
    padding-left:10px;
    text-align:left;


}
#btn2{
    background:#009FCC;
    height:350px;
    width:700px;
    position:relative;
    margin-left:20px;
    left:900px;

    color:#FFF;
    font-size:25px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*line-height:300px;*/
    padding-left:10px;
    text-align:left;
}

#btn4{
    background:#1c7430;
    border-color:#F60;
    height:350px;
    width:700px;
    position:relative;
    margin-left:20px;
    margin-top:30px;
    left:900px;

    color:#FFF;
    font-size:25px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*line-height:300px;*/
    padding-left:10px;
    text-align:left;
}
#btn5{
    background:#d39e00;
    border-color:#F60;
    height:350px;
    width:700px;
    position:relative;
    margin-left:20px;
    margin-top:30px;
    left:900px;

    color:#FFF;
    font-size:25px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*line-height:300px;*/
    padding-left:10px;
    text-align:left;
}

